<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit User</title>
</head>
<body>

<h2>Edit User</h2>

<form th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>


    <label for="username">Name:</label>
    <input type="text" id="username" th:field="*{name}"/>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" th:field="*{surname}"/>

    <label for="birthYear">Birth Year:</label>
    <input type="text" id="birthYear" th:field="*{birthYear}"/>



    <button type="submit">Update</button>
</form>


<form th:action="@{/{id}/delete(id=${user.id})}" method="post">
    <button type="submit">Delete User</button>
</form>


<a th:href="@{/admin}">
    <button>Back to Users</button>
</a>

</body>
</html>
