<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <div>
        <p>ID: <span th:text="${user.getId()}"></span></p>
    </div>

    <div>
        <p>Name: <span th:text="${user.getName()}"></span></p>
    </div>

    <div>
        <p>Surname: <span th:text="${user.getSurname()}"></span></p>
    </div>

    <div>
        <p>Birth year: <span th:text="${user.getBirthYear()}"></span></p>
    </div>


    <br/>

    <a th:href="@{/admin/{id}/edit(id=${user.id})}">
        <button>Edit</button>
    </a>

    <br/>

    <form th:action="@{${user.id} + '/delete'}" method="post">
        <input type="submit" value="Delete this user"/>
    </form>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>