/*users, user*/

#customNavLogout {
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#customNavLogout:hover {
    opacity: 1;
}

a {
    text-decoration: none;
}

#customContent {
    margin: 10px auto;
}

.user-roles {
    color: white;
    font-weight: normal;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand .user-roles {
    font-weight: normal !important;
}

.user-row .sidebar {
    height: 100vh;
}

@media (max-width: 768px) {
    .sidebar {
        height: auto;
    }
}

.table-borderless thead th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.custom-row td {
    height: 3rem;
}

.custom-row th {
    height: 1rem;
}

.d-none {
    display: none;
}

.form-control, .form-select {
    width: 15rem;
}

.form-label {
    font-weight: bold;
}

.edit-button {
    color: white;
}

.edit-button:hover {
    color: white;
    text-decoration: none;
}

#addNewUserCard {
    .form-control, .form-select {
        width: 25rem;!important;
    }

    .form-control {
        width: 25rem;!important;
    }
}